# Replace with your Nextdoor credentials here
Name = John Smith
Username = jsmith@gmail.com
Password = nextdoor_password


# Replace with your SMTP settings here
Server = smtp.gmail.com
Port = 587
SenderEmail = jsmith@gmail.com
SenderPassword = smtp_password
ReceiverEmail = jsmith@gmail.com

